div {
    width: 100px;
    height: 100px;
}

.red {
    color: red;
}

div.red {
    background-color: red;
}


.blue {
    color: blue;
}

div.blue {
    background-color: blue;
}

.green {
    color: green;
}

div.green {
    background-color: green;
}

.yellow {
    color: yellow;
}

div.yellow {
    background-color: yellow;
}